body{
    margin: 0px;
    background-color: black;
}
a{
    color: wheat;
}
/* ------------------------------- header -----------------------------------*/
header img{
    width: 100px;
    height: inherit;
    margin-left: -50px;
    margin-top: 10px;
    display: flex;
}
.LOGOBox{
    margin-left: 50%;
    display: flex;
}
header{
    display: flex;
    height: 120px;
    background-image: url('../images/headerBack.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------------------------- nav -----------------------------------*/
nav{
    height: 45px;
    background-color: black;
    opacity: 0.85;
    letter-spacing: 2px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0px;
}
nav a{
    text-decoration: none;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.navbar{
    font-family: '微軟正黑體';
    font-size: 18px;
    float: left;
    width: fit-content;
    height: 45px;
}
.navbar li{
    color: white;
}
.home{
    float: left;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    height: 35px;
}
.home:hover{
    background-color: rgb(100, 73, 32);
}
.home:hover > li{
    color: rgb(202, 176, 136);
}
.summary{
    float: left;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    height: 35px;
}
.summary:hover{
    background-color: rgb(100, 73, 32);
}
.summary:hover > li{
    color: rgb(202, 176, 136);
}
.news{
    float: left;
    padding-top:10px;
    padding-left: 40px;
    padding-right: 40px;
    height: 35px;
}
.news:hover{
    background-color: rgb(100, 73, 32);
}
.news:hover > li{
    color: rgb(202, 176, 136);
}
.rooms{
    float: left;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    height: 35px;
}
.rooms:hover{
    background-color: rgb(100, 73, 32);
}
.rooms:hover > li{
    color: rgb(202, 176, 136);
}
.salon{
    float: left;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    height: 35px;
}
.salon:hover{
    background-color: rgb(100, 73, 32);
}
.salon:hover > li{
    color: rgb(202, 176, 136);
}
.booking{
    float: right;
    width: fit-content;
    height: 45px;
}
.booking img{
    width: 25px;
    height: 32px;
    padding-top: 5px;
    padding-left: 10px;
    float: left;
}
.booking li{
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: '微軟正黑體';
    font-size: 18px;
    float: left;
    color: wheat;
}
.booking:hover{
    background: rgba(255, 255, 255, 0.445);
}
.booking:hover li{
    color: white;
}
nav:after{
    content: "";
    display: block;
    clear: both;
}

/* ------------------------------- main -----------------------------------*/
.mainImg img{
    width: 100%;
    height: 720px;
    margin-bottom: 80px;
}
.newsTitle{
    margin-left: 15%;
    margin-right: 15%;
}
.newsTitle p{
    font-family: '微軟正黑體';
    font-size: 22px;
    color: white;
    opacity: 0.6;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}
.newsTitle img{
    display: flex;
    margin: auto;
    padding-bottom: 40px;
}
.newsInfoBox{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
}
.newsListTitle p{
    width: 220px;
    font-family: '微軟正黑體';
    font-size: 18px;
    color: wheat;
    background-color: rgb(51, 51, 51);
    margin: 0px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.newsList a{
    text-decoration: none;
}
.newsList ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.roomdis ul{
    display: none;
}
.fooddis ul{
    display: none;
}
.salondis ul{
    display: none;
}
.newsdis ul{
    display: none;
}

.newsList li{
    width: 210px;
    font-family: '微軟正黑體';
    font-size: 18px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: wheat;
    border-bottom: 1px solid snow;
}
.newsList a{
    color: rgb(127, 93, 29);
}

.roomdis li:hover{
    background-color: rgb(198, 170, 122);
    padding-bottom: 0px;
}
.roomdis li:hover > a{
    color: snow;
}
.roomdis li:hover > ul{
    display: block;
    margin-top: 10px;
    margin-left: -10px;
}
.roomdis li:hover > ul li{
    font-size: 16px;
    background-color: rgb(250, 247, 238);
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.roomdis li ul li:hover{
    background-color: rgb(126, 89, 63);
    color: whitesmoke;
}

.fooddis li:hover{
    background-color: rgb(198, 170, 122);
    padding-bottom: 0px;
}
.fooddis li:hover > a{
    color: snow;
}
.fooddis li:hover > ul{
    display: block;
    margin-top: 10px;
    margin-left: -10px;
}
.fooddis li:hover > ul li{
    font-size: 16px;
    background-color: rgb(250, 247, 238);
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.fooddis li ul li:hover{
    background-color: rgb(126, 89, 63);
    color: whitesmoke;
}

.salondis li:hover{
    background-color: rgb(198, 170, 122);
    padding-bottom: 0px;
}
.salondis li:hover > a{
    color: snow;
}
.salondis li:hover > ul{
    display: block;
    margin-top: 10px;
    margin-left: -10px;
}
.salondis li:hover > ul li{
    font-size: 16px;
    background-color: rgb(250, 247, 238);
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.salondis li ul li:hover{
    background-color: rgb(126, 89, 63);
    color: whitesmoke;
}

.newsdis li:hover{
    background-color: rgb(198, 170, 122);
    padding-bottom: 0px;
}
.newsdis li:hover > a{
    color: snow;
}
.newsdis li:hover > ul{
    display: block;
    margin-top: 10px;
    margin-left: -10px;
}
.newsdis li:hover > ul li{
    font-size: 16px;
    background-color: rgb(250, 247, 238);
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.newsdis li ul li:hover{
    background-color: rgb(126, 89, 63);
    color: whitesmoke;
}

.newsList{
    margin-bottom: 900px;
}
.disInfo{
    margin-left: 50px;
}
.disRoomPro1{
    display: flex;
    flex-direction: row;
}
.disRoomPro1 img{
    width: 20px;
    height: 20px;
    padding-top: 18px;
}
.disRoomPro1 p{
    font-family: '微軟正黑體';
    font-size: 18px;
    color: wheat;
}
.disRoomImg img{
    width: 800px;
    height: 450px;
}
.disp p{
    font-family: '微軟正黑體';
    color: white;
}
.disp h4{
    font-family: '微軟正黑體';
    color: wheat;
}
.disp{
    margin-left: 30px;
}
/* ------------------------------- footer -----------------------------------*/
footer{
    padding-left: 15%;
    padding-right: 15%;
    height: 200px;
    background-image: url('../images/footerBack.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.footerBox{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
.logoes{
    width: fit-content;
    margin: 0px;
    float: left;
}
.infoBox{
    float: left;
    width: 500px;
    color: wheat;
}
.slogo img{
    width: 100px;
    height: inherit;
    margin-bottom: 10px;
}
.slogo{
    width: fit-content;
}
.star img{
    width: 100px;
    height: inherit;
}
.star{
    width: fit-content;
}
.infoList{
    float: left;
    margin-left: 50px;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 925px;
    color: wheat;
}
.infoList ul{
    list-style-type: none;
    float: left;
    padding: 0px;
}
.infoList ul li{
    font-family: '微軟正黑體';
    font-size: 14px;
    float: left;
}
.facebook img{
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    margin-top: 5px;
}
.facebook img:hover{
    opacity: 0.5;
}
.google img{
    float: left;
    width: 36px;
    height: 36px;
    margin-top: 3px;
    margin-right: 5px;
}
.google img:hover{
    opacity: 0.5;
}
.youtube img{
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 7px;
}
.youtube img:hover{
    opacity: 0.5;
}
.twitter img{
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 6px;
}
.twitter img:hover{
    opacity: 0.5;
}
.line img{
    width: 37px;
    height: 37px;
    margin-top: 2px;
}
.line img:hover{
    opacity: 0.5;
}
.icon{
    width: 200px;
    float: right;
    margin-left: 200px;
}

.info{
    font-family: '微軟正黑體';
    font-size: 13px;
    margin-left: 50px;
    float: left;
    width: 925px;
    color: wheat;
}
.adress{
    float: left;
}
.phone{
    float: right;
}
.phone2 p{
    float: left;
}
.fax{
    float: left;
    margin-left: 30px;
    margin-right: 5px;
}
.infoList4{
    float: left;
}
.infoList4 li{
    float: left;
    border-left: 1px solid white;
    padding-left: 20px;
    margin-left: 20px;
}
.vip{
    float: left;
}
.employee{
    float: left;
}
.connect{
    float: left;
}
.home2{
    float: left;
}
.company{
    float: left;
}
.copyR{
    color: white;
}
.vip a:hover{
    color: white;
}
.employee a:hover{
    color: white;
}
.connect a:hover{
    color: white;
}
.home2 a:hover{
    color: white;
}
.company a:hover{
    color: white;
}